#grey{
    background-color: rgb(141, 141, 141, .8);
    width: 100%;
    height: 200px;
    float: bottom;
}

.content{
    position: relative;
    margin-left:100px ;
    margin-right:100px;
    padding-top: 60px;
    text-align: center;
}

.content h2{
    padding-top: 20px;
    text-align: center;
}

.content img{
    max-width: 100%;
    height: 70px;
    transition: .3s;
}
.content img:hover{
    opacity: 50%;
    height: 78px;
}
#insta{
    height: 75px;
}