.navbar{
    background-color: var(--blue);
    position: fixed;
    width: 100vw;
    z-index: 10000;
}
.navbar button{
    background-color: white;
}

.navbar-brand{
    color: white;
}

.navbar-nav a{
    color: white;
}
.ham {
    width: 30px;
    height: 4px;
    background-color: black;
    margin: 4.5px 0;
    padding: auto;
    border-radius: 10px;
  }